@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}

.hero {
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 550px) {
  .i1 {
    width: 90px;
  }
}

@media only screen and (max-width: 650px) {
  .nav {
    font-size: x-small;
    size: 20px;
  }
}

.about {
  font-family: "DM Serif Display", serif;
}
@media only screen and (max-width: 550px) {
  .C {
    font-size: 90%;
  }
}
@media only screen and (max-width: 550px) {
  .T {
    font-size: 70%;
  }
}
@media only screen and (min-width: 550px) {
  .A {
    font-size: xx-large;
  }
}

.contribution {
  font-family: "DM Serif Display", sans-serif;
}
.hi {
  background-color: #f0ece7;
}
.clo {
  background-color: #f0ece7;
}
/* conrti sec */
.project {
  background-color: #f0ece7;
}
/* .container {
  max-width: 50px;
  width: 50%;
  margin: auto;
  /* padding: 15px; */

.photo_gallery {
  display: flex;
  /* gap: 7px; */
}
.column {
  display: flex;
  flex-direction: row;
  gap: 1px;
  justify-content: center;
  align-items: center;
}
.photos img {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  object-fit: contain;
  aspect-ratio: 20/11;
}
@media (max-width: 768px) {
  .photo_gallery {
    flex-direction: column;
  }
}

/* end */
/* project */
.A {
  font-family: "DM Serif Display", sans-serif;
}
@media only screen and (max-width: 600px) {
  .A {
    text-size-adjust: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 50px auto;
  padding: 30px;
  gap: 40px;
}

.card-list .card-item {
  /* background: #fff; */
  border-radius: 4%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  transition: border 1ms ease;
}

.card-list .card-item:hover {
  border: 2px solid #000;
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 20/11;
  border-radius: 4%;
  object-fit: cover;
}

@media (min-width: 50px) {
  .card-list .card-item {
    padding: 1px;
    aspect-ratio: 29/22;
    display: flex;
    flex-shrink: initial;
    object-fit: cover;
  }
}
@media (max-width: 100px) {
  .card-list .card-item img {
    padding: 4px;
    display: flex;
    flex-shrink: initial;
  }
}

@media screen and (max-width: 50px) {
  .card-list {
    padding: 3px;
    gap: 1px;
  }
}
.slide-left {
  -webkit-animation: slide-left 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s both;
  animation: slide-left 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 1s linear 1s;
  animation: slide-in-left 1s linear 1s;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*  */
.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-item {
  width: 200px;
  margin: 10px;
  background-color: #dfdfdf;
}

.flexbox-container {
  height: 100%;
  background-color: #f0ece7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flexbox-item-1 {
  padding: 1px;
}

.flexbox-item-2 {
  min-height: 400px;
  width: 290px;
}

.flexbox-item-3 {
  min-height: 250px;
  width: 200px;
}
.flexbox-item-4 {
  padding: 2px;
  min-height: 300px;
  width: 290px;
}
.flexbox-item-5 {
  min-height: 300px;
  width: 250px;
  margin-bottom: 3%;
}
.flexbox-item-6 {
  min-height: 200px;
  margin-top: 0%;
}
.flexbox-item .flexbox-item-1 {
  border: 2px solid #000;
}
/* yoko */
.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 0.5s alternate both;
  animation: tracking-in-contract-bck-top 0 alternate both;
}
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.flexboxitem1 {
  min-height: 800px;
  width: 350px;
}
.fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flexboxitem2 {
  min-height: 800px;
  width: 350px;
}
.flexboxitem3 {
  min-height: 800px;
  width: 350px;
}
/* porsh */
.flexbox-cont {
  height: 100%;
  background-color: #f0ece7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flexboxitem-1 {
  min-height: 400px;
  width: 312px;
}

.flexboxitem-2 {
  min-height: 400px;
  width: 412px;
}

.flexboxitem-3 {
  min-height: 400px;
  width: 412px;
}
.flexbox-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.flexboxitem-4 {
  background-color: transparent;
  padding: 15px;
}
.flexboxitem-5 {
  background-color: transparent;
  margin-bottom: 3%;
}
/* bagicha ani */
.fade-in-left {
  -webkit-animation: fade-in-left 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* porche anime */
/* .slide-in-elliptic-left-fwd{-webkit-animation:slide-in-elliptic-left-fwd 3s cubic-bezier(.25,.46,.45,.94) alternate forwards;animation:slide-in-elliptic-left-fwd 3s cubic-bezier(.25,.46,.45,.94) .5s alternate forwards}
 @-webkit-keyframes slide-in-elliptic-left-fwd{0%{-webkit-transform:translateX(-800px) rotateY(30deg) scale(0);transform:translateX(-800px) rotateY(30deg) scale(0);-webkit-transform-origin:-100% 50%;transform-origin:-100% 50%;opacity:0}100%{-webkit-transform:translateX(0) rotateY(0) scale(1);transform:translateX(0) rotateY(0) scale(1);-webkit-transform-origin:1800px 50%;transform-origin:1800px 50%;opacity:1}}@keyframes slide-in-elliptic-left-fwd{0%{-webkit-transform:translateX(-800px) rotateY(30deg) scale(0);transform:translateX(-800px) rotateY(30deg) scale(0);-webkit-transform-origin:-100% 50%;transform-origin:-100% 50%;opacity:0}100%{-webkit-transform:translateX(0) rotateY(0) scale(1);transform:translateX(0) rotateY(0) scale(1);-webkit-transform-origin:1800px 50%;transform-origin:1800px 50%;opacity:1}} */
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.slide-in-fwd-right {
  -webkit-animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-fwd-right {
  -webkit-animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
/* shankick */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bck-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* card */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    2s both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.puff-in-center {
  -webkit-animation: puff-in-center 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2s
    both;
  animation: puff-in-center 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
